td{
	
	height: 15px;
	width: 15px;
	border: solid #3074ae 1px;
}
tr{
	border: solid #fff 1px;
	
}
.tittle{
	color:#fff;
	text-shadow: 3px 3px 3px #999;
}
body{
	background-color: #000;
	color: #fff;
}
